:root {
    --away-indicator-dark: #f5ab00;
    --button-bg: #EE7D45;
    --button-color: #fff;
    --center-channel-bg: #fff;
    --center-channel-color: #3d3c40;
    --center-channel-text: #3f4350;
    --error-text: #d24b4e;
    --link-color: #EE7D45;
    --online-indicator: #06d6a0;
    --sidebar-text-active-border: #ea7334;
    --denim-button-bg: #EE7D45;
    --denim-sidebar-active-border: #ea7334;
    --denim-sidebar-header-bg: #1b1d22;
    --title-color-indigo-500: #585858;

    --button-color-rgb: 255, 255, 255;
    --center-channel-color-rgb: 61, 60, 64;
    --center-channel-text-rgb: 63, 67, 80;
    --link-color-inverted-rgb: 129, 163, 239;
    --denim-button-bg-rgb: 28, 88, 217;
    --denim-sidebar-header-bg-rgb: 25, 42, 77;
    --secondary-blue-rgb: 34, 64, 109;
    --onyx-center-channel-text-rgb: 221, 223, 228;

    --elevation-5: 0 12px 32px 0 rgba(0, 0, 0, 0.12);
}
